---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: openebs
  namespace: flux-system
spec:
  interval: 1m0s
  url: https://openebs.github.io/openebs
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: flux-system
spec:
  chart:
    spec:
      chart: openebs
      reconcileStrategy: ChartVersion
      version: "4.4.0"
      sourceRef:
        kind: HelmRepository
        name: openebs
  interval: 1m0s
  targetNamespace: openebs
  install:
    createNamespace: false
  values:
    zfs-localpv:
      zfsNode:
        encrKeysDir: "/var/openebs/keys"
    alloy:
      enabled: false
    loki:
      enabled: false
    engines:
      local:
        zfs:
          enabled: true
        lvm:
          enabled: false
      replicated:
        mayastor:
          enabled: false
---
apiVersion: v1
kind: Namespace
metadata:
  name: openebs
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: zfspv
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
parameters:
  fstype: "zfs"
  shared: "yes"
  poolname: "tank"
  compression: "lz4"
provisioner: zfs.csi.openebs.io
reclaimPolicy: Retain
