---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: openebs
  namespace: flux-system
spec:
  interval: 1m0s
  url: https://openebs.github.io/openebs
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: flux-system
spec:
  chart:
    spec:
      chart: openebs
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: openebs
  interval: 1m0s
  targetNamespace: openebs
  install:
    createNamespace: true
  values:
    alloy:
      enabled: false
    loki:
      enabled: false
    engines:
      local:
        lvm:
          enabled: false
      replicated:
        mayastor:
          enabled: false
---
apiVersion: v1
kind: Namespace
metadata:
  name: openebs
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: zfspv
parameters:
  fstype: "zfs"
  shared: "yes"
  poolname: "tank"
  encryption: "aes-256-gcm"
  compression: "lz4"
  keyformat: "hex"
  keylocation: "file:///tmp/tank.key"
provisioner: zfs.csi.openebs.io
