[Unit]
Description=Open-source software alternative to uTorrent

[Container]
Image=ghcr.io/home-operations/qbittorrent:5.1.1

Volume=/home/qbittorrent/config:/config:Z
Volume=/mnt/volume/data:/data:z

Network=host

AddDevice=/dev/net/tun

Secret=QBT_TORRENTING_PORT,type=env

User=0
Group=0

[Install]
# Start by default on boot
WantedBy=default.target
