[Unit]
Description=Glance dashboard container

[Container]
Image=docker.io/glanceapp/glance:v0.8.4
PublishPort=50002:8080

Volume=/home/glance/config/:/app/config
Volume=/home/glance/assets/:/app/assets

#Volume=/home/glance/timezone:/etc/timezone:ro
#Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
