[Unit]
Description=Glance dashboard container

[Container]
Image=docker.io/glanceapp/glance:v0.7.8
PublishPort=50002:8080
Volume=/home/glance/glance.yml:/app/glance.yml
Volume=/home/glance/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
