[Interface]
Address = {{ address1 }},{{ address2 }}
PrivateKey = {{ private_key }}
MTU = 1320
DNS = {{ dns1 }}, {{ dns2 }}

[Peer]
PublicKey = {{ public_key }}
PresharedKey = {{ preshared_key }}
Endpoint = {{ endpoint }}
AllowedIPs = 0.0.0.0/0,::/0
PersistentKeepalive = 15
