[Unit]
Description=Jellyfin - The Free Software Media System

[Container]
Image=docker.io/jellyfin/jellyfin:latest

Volume=/home/jelly-pod/jellyfin-config:/config:Z
Volume=/home/jelly-pod/jellyfin-cache:/cache:Z
Volume=/mnt/volume/data/media:/media

Pod=jelly.pod

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
# Start by default on boot
WantedBy=default.target
