[Unit]
Description=Media Discovery Simple Request Management

[Container]
Image=docker.io/fallenbagel/jellyseerr:2.3.0
Volume=/home/%u/jellyseerr-config:/app/config
Environment=TZ=Europe/Warsaw
Environment=PORT=5055
Pod=jelly.pod

[Install]
# Start by default on boot
WantedBy=default.target
