---
- name: Refresh initramfs
  ansible.builtin.shell:
    cmd: "update-initramfs -u -k all"
    executable: /bin/bash

- name: Reboot
  ansible.builtin.reboot:

- name: Update GRUB
  ansible.builtin.command: update-grub
  changed_when: true
  notify: Reboot

- name: Restart networking service
  ansible.builtin.systemd_service:
    name: networking
    state: restarted
