stages: [renovate, validate, deploy]

include:
  - component: $CI_SERVER_FQDN/components/opentofu/job-templates@1.1.0
    inputs:
      version: 1.1.0

renovate:
  stage: renovate
  image: ghcr.io/renovatebot/renovate@sha256:724220885785c57898d5709624eceddb012d8f63ac08a8f718aa77c13ca621bc
  script:
    - renovate
  variables:
    RENOVATE_PLATFORM: "gitlab"
    RENOVATE_ENDPOINT: $CI_API_V4_URL
    RENOVATE_TOKEN: $GL_TOKEN
    RENOVATE_AUTODISCOVER: "true"
    GITHUB_COM_TOKEN: $GH_RO_TOKEN
    LOG_LEVEL: debug
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'

# ansible lint:
#   stage: validate
#   extends: .ansible
#   script:
#     - cd ansible
#     - ansible-lint

tofu fmt:
  extends: [.opentofu:fmt]
  variables:
    GITLAB_TOFU_ROOT_DIR: terraform/vm/
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - if: $CI_COMMIT_TAG
      when: always
    - when: never

tofu validate:
  extends: [.opentofu:validate]
  variables:
    GITLAB_TOFU_ROOT_DIR: terraform/vm/
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - if: $CI_COMMIT_TAG
      when: always
    - when: never

deploy dev:
  stage: deploy
  trigger:
    include: deploy-dev.gitlab-ci.yml
    strategy: depend
  resource_group: homelab-dev
  environment: dev
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - when: never

deploy prod:
  stage: deploy
  trigger:
    include: deploy-prod.gitlab-ci.yml
    strategy: depend
  resource_group: homelab-prod
  environment: prod
  rules:
    - if: $CI_COMMIT_TAG
      when: always
    - when: never
