**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.tfstate.lock.info
.terraformrc
terraform.rc

*.env
!*gitkeep*

preseed.cfg
.venv
*.iso

ansible/execution_environment/context/*

kube_config
talos_config
