[Unit]
Description=Syncoid Pull Backup from {{ zfs_primary_host }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/syncoid -r --sendoptions="wp" --no-sync-snap --no-privilege-elevation zfsbackup@{{ zfs_primary_host }}:{{ zfs_active_dataset }} {{ zfs_passive_dataset }}
StandardOutput=append:/var/log/syncoid_pull.log
StandardError=append:/var/log/syncoid_pull.log
