[Unit]
Description=Grafana - open source analytics and interactive visualization web application

[Container]
ContainerName=grafana
Pod=monitoring.pod

Image=docker.io/grafana/grafana:11.4.0
Volume=grafana-storage.volume:/var/lib/grafana
Volume=/home/monitoring-pod/grafana/provisioning:/etc/grafana/provisioning:U
Environment=GF_SERVER_ROOT_URL=http://grafana.{{ environment_name }}.{{ subdomain }}.{{ domain }}/
Secret=GF_SECURITY_ADMIN_USER,type=env
Secret=GF_SECURITY_ADMIN_PASSWORD,type=env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
