[Unit]
Description=Prometheus - systems and service monitoring system

[Container]
ContainerName=prometheus
Pod=monitoring.pod

Image=quay.io/prometheus/prometheus:v3.1.0
Volume=/home/monitoring-pod/prometheus.yml:/etc/prometheus/prometheus.yml
Volume=prometheus-data.volume:/prometheus

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
