---
- name: Ensure sudo is installed
  ansible.builtin.package:
    name: sudo
    state: present

- name: Ensure group sudo exists
  ansible.builtin.group:
    name: sudo
    state: present

- name: Ensure group wheel exists
  ansible.builtin.group:
    name: wheel
    state: present

- name: Ensure /etc/sudoers.d exists
  ansible.builtin.file:
    path: /etc/sudoers.d/
    state: directory
    owner: root
    group: root
    mode: '0750'

- name: Ensure sudoers.d is included in /etc/sudoers
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: '@includedir /etc/sudoers.d'
    state: present
    validate: /usr/sbin/visudo -cf %s
  when: ansible_facts['os_family'] == 'Debian'

- name: Ensure sudoers.d is included in /etc/sudoers
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: '#includedir /etc/sudoers.d'
    state: present
    validate: /usr/sbin/visudo -cf %s
  when: ansible_facts['os_family'] == 'RedHat'

- name: Ensure passwordless sudo for user ansible
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/90-ansible
    line: 'ansible ALL=(ALL) NOPASSWD:ALL'
    mode: '0440'
    owner: root
    group: root
    validate: /usr/sbin/visudo -cf %s
    create: true
  notify: restart sshd

- name: Ensure user ansible is present
  ansible.builtin.user:
    name: ansible
    create_home: true
    shell: /bin/bash
    groups:
      - sudo
      - wheel
    append: true
  notify: restart sshd

- name: Ensure public key is present in authorized_keys for user ansible
  ansible.posix.authorized_key:
    user: ansible
    state: present
    key: "{{ vault_ansible_public_key }}"
  notify: restart sshd
