---
- name: Set up users and SSH access
  notify: Restart sshd
  block:
    - name: Ensure sudo is installed
      ansible.builtin.package:
        name:
          - sudo
        state: present

    - name: Ensure group "sudo" exists
      ansible.builtin.group:
        name: sudo
        state: present

    - name: Ensure sudoers includes {{ vault_admin_username }}
      ansible.builtin.lineinfile:
        path: '/etc/sudoers.d/{{ vault_admin_username }}'
        line: '{{ vault_admin_username }}  ALL=(ALL:ALL) ALL'
        mode: '0440'
        owner: root
        group: root
        validate: /usr/sbin/visudo -cf %s
        create: true

    - name: Ensure existance of user {{ vault_admin_username }}
      ansible.builtin.user:
        name: "{{ vault_admin_username }}"
        shell: '/bin/bash'
        create_home: true
        groups:
          - sudo
        append: true
        password: "{{ vault_admin_password_hash }}"

    - name: Check if public ssh key is present in authorized_keys
      ansible.posix.authorized_key:
        user: "{{ vault_admin_username }}"
        state: present
        key: "{{ vault_admin_public_key }}"

    - name: Touch a file sshd config overwrite file
      ansible.builtin.file:
        path: /etc/ssh/sshd_config.d/overwrite
        state: absent

    - name: Disallow SSH password authentication
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        line: 'PasswordAuthentication no'
        state: present
        validate: sshd -t -f %s
