[Unit]
Description=Open-source software alternative to uTorrent

[Container]
Image=ghcr.io/home-operations/qbittorrent:5.0.4

Volume=/home/qbit-pod/config:/config
Volume=/mnt/volume/data:/data

Environment=QBT_TORRENTING_PORT=27477

User=2222
Group=2222

Pod=qbit.pod

[Install]
# Start by default on boot
WantedBy=default.target
