[Unit]
Description=Open-source software alternative to uTorrent

[Container]
Image=ghcr.io/onedr0p/qbittorrent@sha256:3b7e6671b4e6b8ab1366ca8a038776638c77cc8110dc74c257eb14568d43c614

Volume=/home/qbit-pod/config:/config
Volume=/mnt/volume/data:/data

Environment=QBT_TORRENTING_PORT=27477

User=2222
Group=2222

Pod=qbit.pod

[Install]
# Start by default on boot
WantedBy=default.target
