---

- name: Set up emergency passphrase
  community.crypto.luks_device:
    device: "{{ clevis_bindings.device }}"
    new_passphrase: "{{ vault_proxmox_emergency_passphrase }}"
    passphrase: bootstrap
    new_keyslot: 31

- name: Configure initramfs
  ansible.builtin.apt:
    name: clevis-initramfs
    state: present

- name: Install Clevis
  ansible.builtin.import_role:
    name: linux-system-roles.nbde_client
  vars:
    nbde_client_bindings:
      - device: "{{ clevis_bindings.device }}"
        # recommend vault encrypting the encryption_password
        # see https://docs.ansible.com/ansible/latest/user_guide/vault.html
        encryption_password: "{{ vault_proxmox_emergency_passphrase }}"
        servers: "{{ clevis_bindings.servers }}"
        slot: 0

- name: Clear all other keyslots
  community.crypto.luks_device:
    device: "{{ clevis_bindings.device }}"
    remove_keyslot: "{{ item }}"
    passphrase: "{{ vault_proxmox_emergency_passphrase }}"
  with_sequence: start=1 end=30
