---
- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Run dpkg-reconfigure unattended-upgrades
  ansible.builtin.shell:
    cmd: 'dpkg-reconfigure -f noninteractive unattended-upgrades'
  changed_when: true
