---
- name: Include install tasks
  ansible.builtin.include_tasks: install.yml

- name: Include iommu tasks
  ansible.builtin.include_tasks: iommu.yml

- name: Include terraform tasks
  ansible.builtin.include_tasks: terraform.yml

- name: Include user_access tasks
  ansible.builtin.include_tasks: user_access.yml

