[Unit]
Description=Prometheus - systems and service monitoring system

[Container]
Image=quay.io/prometheus/prometheus:v3.1.0
PublishPort=9090:9090
Volume=/home/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
Volume=prometheus-data.volume:/prometheus

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
