[Unit]
Description=Pihole DNS sinkhole container

[Container]
Image=docker.io/pihole/pihole@sha256:16182d525693103d5b356173b0405be348b9494eb69ec0b4585d51b3c14b61dd
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=50001:80

Volume=etc-pihole.volume:/etc/pihole

Environment="TZ=Europe/Warsaw"
Environment="FTLCONF_dns_listeningMode=all"
Secret=FTLCONF_webserver_api_password,type=env

AddCapability=CAP_AUDIT_WRITE

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
