[Unit]
Description=Pihole DNS sinkhole container

[Container]
Image=docker.io/pihole/pihole:2025.03.0
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=50001:80

Volume=etc-pihole.volume:/etc/pihole

Environment="TZ=Europe/Warsaw"
Environment="FTLCONF_dns_listeningMode=all"
Secret=FTLCONF_webserver_api_password,type=env

AddCapability=CAP_AUDIT_WRITE

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
