[Interface]
PrivateKey = {{ wg_private_key }}
Address = 192.168.69.1/24
ListenPort = 51820
PostUp = iptables -A FORWARD -i {{ wg_interface_name }} -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wg_interface_name }} -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
# Computer
PublicKey = {{ wg_public_key_arch }}
AllowedIPs = 192.168.69.2
PersistentKeepalive = 25
[Peer]
# Phone
PublicKey = {{ wg_public_key_phone }}
AllowedIPs = 192.168.69.3
PersistentKeepalive = 25
