---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: music
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Gi
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: jellyfin-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 12Gi
