[Unit]
Description=Open-source software alternative to uTorrent

[Container]
Image=quay.io/linuxserver.io/qbittorrent:5.0.4
Volume=/home/qbit-pod/config:/config
Volume=/mnt/volume/data:/data
Environment=TZ=Europe/Warsaw
Environment=WEBUI_PORT=8080
Environment=PUID=1000
Environment=PGID=2137
Pod=qbit.pod

[Install]
# Start by default on boot
WantedBy=default.target
