apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: flux-system
spec:
  chart:
    spec:
      chart: openebs
      reconcileStrategy: ChartVersion
      version: "4.4.0"
      sourceRef:
        kind: HelmRepository
        name: openebs
  interval: 1m0s
  targetNamespace: openebs
  install:
    createNamespace: false
  values:
    zfs-localpv:
      zfsNode:
        encrKeysDir: "/var/openebs/keys"
    alloy:
      enabled: false
    loki:
      enabled: false
    engines:
      local:
        zfs:
          enabled: true
        lvm:
          enabled: false
      replicated:
        mayastor:
          enabled: false
