[Unit]
Description=open-source SSO

[Container]
Image=quay.io/keycloak/keycloak:26.1.4
PublishPort=8443:8080

Secret=KC_BOOTSTRAP_ADMIN_USERNAME,type=env
Secret=KC_BOOTSTRAP_ADMIN_PASSWORD,type=env

Exec=start

[Install]
# Start by default on boot
WantedBy=default.target
