[Unit]
Description=Media Discovery Simple Request Management

[Container]
Image=docker.io/fallenbagel/jellyseerr:2.3.0
PublishPort=5055:5055
Volume=/home/%u/config:/app/config
Environment=TZ=Europe/Warsaw
Environment=PORT=5055

[Install]
# Start by default on boot
WantedBy=default.target
