[Unit]
Description=Jellyfin - The Free Software Media System

[Container]
Image=docker.io/jellyfin/jellyfin:10.10.6

Volume=/home/jelly-pod/jellyfin-config:/config
Volume=/home/jelly-pod/jellyfin-cache:/cache
Volume=/mnt/volume/data/media:/media

User=1111
Group=1111

Pod=jelly.pod

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
# Start by default on boot
WantedBy=default.target
