[Unit]
Description=Jellyfin - The Free Software Media System

[Container]
Image=docker.io/jellyfin/jellyfin:10.10.7

Volume=/home/jelly-pod/jellyfin-config:/config
Volume=/mnt/volume/data/media:/media:z

Pod=jelly.pod

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
# Start by default on boot
WantedBy=default.target
