[Unit]
Description=PVR for usenet and bittorrent users for shows

[Container]
Image=ghcr.io/home-operations/lidarr:2.12.4

Volume=/home/jelly-pod/lidarr-config:/config:Z
Volume=/mnt/volume/data:/data:z

User=0
Group=0

Environment=TZ=Europe/Warsaw

Pod=jelly.pod

[Install]
# Start by default on boot
WantedBy=default.target
