[Unit]
Description=PVR for usenet and bittorrent users for shows

[Container]
Image=docker.io/linuxserver/lidarr:2.11.2

Volume=/home/jelly-pod/lidarr-config:/config
Volume=/mnt/volume/data:/data

Environment=TZ=Europe/Warsaw

User=1111
Group=1111

Pod=jelly.pod

[Install]
# Start by default on boot
WantedBy=default.target
