[Unit]
Description=PVR for usenet and bittorrent users for shows

[Container]
Image=ghcr.io/home-operations/prowlarr:1.36.2

Volume=/home/jelly-pod/prowlarr-config:/config

User=1111
Group=1111

Pod=jelly.pod

[Install]
# Start by default on boot
WantedBy=default.target
