[Unit]
Description=PVR for usenet and bittorrent users for shows

[Container]
Image=ghcr.io/home-operations/prowlarr:1.37.0

Volume=/home/jelly-pod/prowlarr-config:/config:Z

User=0
Group=0

Pod=jelly.pod

[Install]
# Start by default on boot
WantedBy=default.target
