[Unit]
Description=PVR for usenet and bittorrent users for shows

[Container]
Image=ghcr.io/home-operations/sonarr:4.0.14

Volume=/home/jelly-pod/sonarr-config:/config
Volume=/mnt/volume/data:/data

Pod=jelly.pod

[Install]
# Start by default on boot
WantedBy=default.target
