# inventory.config file in YAML format
# remember to enable this inventory plugin in the ansible.cfg before using
# View the output using `ansible-inventory -i inventory.config --list`
plugin: ansible.builtin.generator
hosts:
  name: "{{ vm }}.{{ environment_name }}.home.parents-basement.win"
layers:
  environment_name:
    - dev
    - prod
  vm:
    - alma
