[Unit]
Description=PVR for usenet and bittorrent users for shows

[Container]
Image=quay.io/linuxserver.io/prowlarr:1.31.2

Volume=/home/jelly-pod/prowlarr-config:/config

Environment=TZ=Europe/Warsaw
Environment=PUID=1000
Environment=PGID=2137

Pod=arr.pod

[Install]
# Start by default on boot
WantedBy=default.target
